.hero {
  /* display: inline-block; */
  width: 100%;
  height: 600px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  width: 100%;
  text-align: center;
}

.hero__title > h1 {
  color: white;

  font-family: 'Raleway';
  font-weight: 600;
  font-size: 5em;
}

.hero__title > h2 {
  color: white;

  font-family: 'Raleway';
  font-weight: 300;
  font-size: 2.6em;
}

@media screen and (max-width: 900px) {
  .hero__title > h1 {
    font-size: 2em;
  }

  .hero__title > h2 {
    font-size: 1.2em;
  }
}

.diagonal-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: #2b5876;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.stars {
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 1s ease-in-out;
}

.stars > .small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 703px 189px #767676, 1296px 1805px #767676, 316px 1278px #767676,
    1961px 1509px #767676, 64px 57px #767676, 218px 800px #767676,
    955px 375px #767676, 707px 1062px #767676, 312px 1216px #767676,
    469px 1670px #767676, 1142px 1026px #767676, 237px 1175px #767676,
    1940px 1225px #767676, 712px 1901px #767676, 840px 473px #767676,
    1854px 4px #767676, 893px 656px #767676, 213px 1350px #767676,
    1505px 779px #767676, 348px 1960px #767676, 1728px 1107px #767676,
    574px 1393px #767676, 1384px 1376px #767676, 1435px 1509px #767676,
    346px 125px #767676, 1264px 1791px #767676, 1238px 524px #767676,
    1229px 1598px #767676, 987px 364px #767676, 701px 680px #767676,
    690px 1445px #767676, 1440px 210px #767676, 1509px 1238px #767676,
    1780px 550px #767676, 645px 676px #767676, 1480px 1699px #767676,
    1305px 1616px #767676, 679px 1480px #767676, 1648px 42px #767676,
    1364px 3px #767676, 1519px 904px #767676, 1625px 399px #767676,
    384px 1697px #767676, 1268px 1799px #767676, 1157px 1336px #767676,
    1996px 1467px #767676, 1075px 235px #767676, 783px 473px #767676,
    506px 1762px #767676, 254px 1975px #767676, 1663px 469px #767676,
    1689px 673px #767676, 82px 916px #767676, 1505px 854px #767676,
    1313px 101px #767676, 1565px 634px #767676, 1347px 476px #767676,
    1962px 586px #767676, 1335px 103px #767676, 244px 444px #767676,
    382px 1491px #767676, 563px 424px #767676, 1666px 151px #767676,
    673px 41px #767676, 664px 1079px #767676, 501px 507px #767676,
    495px 735px #767676, 254px 1584px #767676, 1949px 154px #767676,
    658px 1379px #767676, 1723px 1874px #767676, 1613px 540px #767676,
    303px 434px #767676, 1827px 874px #767676, 1884px 1068px #767676,
    1725px 623px #767676, 1439px 1535px #767676, 858px 1291px #767676,
    250px 648px #767676, 1597px 1842px #767676, 658px 250px #767676,
    901px 101px #767676, 1721px 1451px #767676, 515px 761px #767676,
    1977px 1006px #767676, 590px 77px #767676, 1048px 1853px #767676,
    1624px 292px #767676, 1665px 240px #767676, 1525px 525px #767676,
    807px 1489px #767676, 1115px 1439px #767676, 1070px 1746px #767676,
    751px 1476px #767676, 1372px 783px #767676, 514px 695px #767676,
    323px 429px #767676, 203px 871px #767676, 730px 1805px #767676,
    1503px 31px #767676, 154px 45px #767676, 221px 130px #767676,
    120px 1321px #767676, 141px 732px #767676, 73px 802px #767676,
    858px 1612px #767676, 121px 674px #767676, 1391px 1589px #767676,
    1437px 1782px #767676, 1007px 409px #767676, 1362px 258px #767676,
    584px 1226px #767676, 1627px 367px #767676, 1512px 256px #767676,
    973px 612px #767676, 1581px 83px #767676, 822px 758px #767676,
    1900px 1818px #767676, 1628px 1143px #767676, 127px 867px #767676,
    1452px 1659px #767676, 814px 1312px #767676, 1798px 1533px #767676,
    448px 113px #767676, 727px 1550px #767676, 1993px 1374px #767676,
    1551px 1145px #767676, 1352px 261px #767676, 1857px 447px #767676,
    1040px 1967px #767676, 465px 60px #767676, 1911px 1136px #767676,
    1942px 840px #767676, 728px 99px #767676, 814px 1164px #767676,
    313px 1108px #767676, 276px 1783px #767676, 1899px 414px #767676,
    261px 677px #767676, 255px 1578px #767676, 1049px 953px #767676,
    1383px 1558px #767676, 455px 1733px #767676, 1162px 1097px #767676,
    263px 19px #767676, 396px 1673px #767676, 1983px 1558px #767676,
    1466px 301px #767676, 957px 304px #767676, 1789px 1607px #767676,
    1515px 517px #767676, 1662px 192px #767676, 756px 786px #767676,
    523px 311px #767676, 516px 1978px #767676, 1336px 1104px #767676,
    274px 1338px #767676, 549px 1731px #767676, 290px 321px #767676,
    1133px 1745px #767676, 1683px 779px #767676, 1752px 594px #767676,
    1488px 1564px #767676, 1310px 428px #767676, 22px 1476px #767676,
    245px 1584px #767676, 386px 11px #767676, 745px 1040px #767676,
    1405px 1693px #767676, 694px 857px #767676, 308px 1334px #767676,
    1617px 1855px #767676, 666px 1313px #767676, 1631px 1285px #767676,
    307px 825px #767676, 844px 435px #767676, 1688px 1533px #767676,
    276px 901px #767676, 1597px 576px #767676, 332px 82px #767676,
    380px 1813px #767676, 1480px 1734px #767676, 716px 764px #767676,
    1376px 1568px #767676, 956px 1252px #767676, 725px 548px #767676,
    1893px 1154px #767676, 564px 1220px #767676, 1021px 911px #767676,
    1276px 753px #767676, 1272px 431px #767676, 417px 302px #767676,
    1963px 156px #767676, 1946px 1378px #767676, 825px 1137px #767676,
    301px 1052px #767676, 1658px 279px #767676, 1775px 859px #767676,
    1182px 1178px #767676, 1373px 579px #767676, 1509px 105px #767676,
    1422px 214px #767676, 1123px 918px #767676, 199px 163px #767676,
    249px 773px #767676, 454px 896px #767676, 620px 1226px #767676,
    958px 1823px #767676, 520px 1788px #767676, 203px 1769px #767676,
    510px 1439px #767676, 570px 406px #767676, 1547px 1435px #767676,
    63px 1805px #767676, 32px 526px #767676, 652px 111px #767676,
    581px 1834px #767676, 1979px 916px #767676, 1744px 1455px #767676,
    140px 1563px #767676, 703px 818px #767676, 1231px 1447px #767676,
    1147px 879px #767676, 1633px 931px #767676, 740px 170px #767676,
    1655px 964px #767676, 191px 8px #767676, 1257px 880px #767676,
    1267px 442px #767676, 730px 542px #767676, 1581px 1938px #767676,
    762px 1554px #767676, 182px 1348px #767676, 711px 1864px #767676,
    494px 1920px #767676, 1206px 566px #767676, 452px 65px #767676,
    377px 378px #767676, 1211px 891px #767676, 867px 499px #767676,
    1886px 784px #767676, 606px 1415px #767676, 1148px 1828px #767676,
    1626px 1313px #767676, 412px 1018px #767676, 694px 487px #767676,
    612px 803px #767676, 1461px 157px #767676, 557px 1403px #767676,
    1846px 236px #767676, 1202px 189px #767676, 498px 1457px #767676,
    241px 413px #767676, 1535px 983px #767676, 314px 615px #767676,
    845px 1324px #767676, 477px 299px #767676, 594px 79px #767676,
    1268px 803px #767676, 449px 359px #767676, 307px 1435px #767676,
    1945px 1734px #767676, 1177px 826px #767676, 1807px 1422px #767676,
    1800px 1806px #767676, 1121px 107px #767676, 588px 1090px #767676,
    1450px 2000px #767676, 463px 1375px #767676, 94px 266px #767676,
    1571px 266px #767676, 908px 1620px #767676, 562px 1452px #767676,
    314px 1292px #767676, 1588px 1252px #767676, 16px 1549px #767676,
    1292px 1278px #767676, 1225px 342px #767676, 647px 1835px #767676,
    118px 1733px #767676, 429px 1003px #767676, 1996px 1746px #767676,
    1121px 538px #767676, 1649px 1406px #767676, 497px 642px #767676,
    320px 197px #767676, 572px 37px #767676, 1943px 1568px #767676,
    393px 1765px #767676, 1781px 232px #767676, 556px 1787px #767676,
    420px 1241px #767676, 83px 1802px #767676, 1519px 1551px #767676,
    2px 281px #767676, 33px 730px #767676, 325px 324px #767676,
    1512px 1648px #767676, 1782px 219px #767676, 1997px 808px #767676,
    1638px 826px #767676, 643px 1643px #767676, 477px 1563px #767676,
    1726px 1320px #767676, 1947px 1377px #767676, 1708px 909px #767676,
    1890px 217px #767676, 385px 1530px #767676, 802px 1160px #767676,
    1575px 1836px #767676, 1405px 243px #767676, 40px 56px #767676,
    1908px 822px #767676, 1503px 708px #767676, 554px 172px #767676,
    1358px 1547px #767676, 929px 403px #767676, 570px 180px #767676,
    1517px 1339px #767676, 77px 1144px #767676, 272px 993px #767676,
    67px 83px #767676, 1320px 1424px #767676, 1802px 1639px #767676,
    1554px 431px #767676, 369px 1810px #767676, 951px 1729px #767676,
    30px 1998px #767676, 136px 254px #767676, 190px 1571px #767676,
    164px 725px #767676, 15px 1097px #767676, 936px 1066px #767676,
    1907px 1836px #767676, 1739px 1990px #767676, 1065px 197px #767676,
    459px 1739px #767676, 408px 728px #767676, 369px 374px #767676,
    1886px 1112px #767676, 656px 680px #767676, 901px 329px #767676,
    1240px 1525px #767676, 516px 1346px #767676, 1397px 1791px #767676,
    806px 1595px #767676, 1184px 1943px #767676, 1620px 1125px #767676,
    420px 1651px #767676, 1081px 944px #767676, 1269px 1265px #767676,
    1444px 19px #767676, 451px 454px #767676, 562px 1109px #767676,
    251px 1877px #767676, 1234px 443px #767676, 423px 619px #767676,
    671px 1930px #767676, 500px 1797px #767676, 1972px 515px #767676,
    1815px 1082px #767676, 1562px 704px #767676, 1972px 1998px #767676,
    47px 814px #767676, 1490px 1053px #767676, 796px 1207px #767676,
    1337px 1638px #767676, 1765px 1137px #767676, 1730px 1696px #767676,
    122px 1664px #767676, 591px 816px #767676, 1399px 1321px #767676,
    1222px 383px #767676, 1180px 1875px #767676, 1287px 264px #767676,
    44px 1915px #767676, 1376px 609px #767676, 644px 1877px #767676,
    407px 1005px #767676, 498px 460px #767676, 860px 664px #767676,
    1129px 1092px #767676, 1012px 1732px #767676, 1847px 1072px #767676,
    1621px 1736px #767676, 1542px 1832px #767676, 612px 716px #767676,
    1883px 1190px #767676, 87px 246px #767676, 1822px 225px #767676,
    1183px 1784px #767676, 142px 112px #767676, 1704px 471px #767676,
    1478px 1040px #767676, 549px 484px #767676, 910px 635px #767676,
    360px 787px #767676, 1595px 194px #767676, 768px 1592px #767676,
    195px 52px #767676, 771px 988px #767676, 497px 293px #767676,
    1386px 1650px #767676, 807px 559px #767676, 1658px 285px #767676,
    972px 142px #767676, 1305px 1070px #767676, 1972px 1473px #767676,
    647px 1455px #767676, 272px 1675px #767676, 312px 991px #767676,
    1848px 1319px #767676, 189px 293px #767676, 1905px 1376px #767676,
    239px 1295px #767676, 514px 1960px #767676, 829px 1719px #767676,
    362px 837px #767676, 863px 1956px #767676, 484px 817px #767676,
    181px 1705px #767676, 1726px 1075px #767676, 823px 1153px #767676,
    1342px 367px #767676, 1640px 877px #767676, 1542px 402px #767676,
    1759px 1237px #767676, 1510px 538px #767676, 1281px 1441px #767676,
    1233px 1437px #767676, 1239px 534px #767676, 864px 1555px #767676,
    1607px 1940px #767676, 163px 1725px #767676, 1190px 1329px #767676,
    857px 1664px #767676, 1164px 1980px #767676, 905px 1909px #767676,
    1418px 925px #767676, 1606px 625px #767676, 795px 1574px #767676,
    60px 220px #767676, 720px 82px #767676, 1242px 494px #767676,
    1167px 1602px #767676, 1834px 971px #767676, 30px 1988px #767676,
    48px 1486px #767676, 354px 325px #767676, 1405px 1446px #767676,
    178px 370px #767676, 26px 1608px #767676, 1850px 55px #767676,
    1480px 46px #767676, 645px 1362px #767676, 123px 1873px #767676,
    163px 1429px #767676, 69px 1332px #767676, 221px 613px #767676,
    888px 936px #767676, 292px 1955px #767676, 314px 965px #767676,
    1521px 1045px #767676, 880px 385px #767676, 633px 1712px #767676,
    1316px 457px #767676, 67px 1334px #767676, 1725px 435px #767676,
    1454px 727px #767676, 1823px 1289px #767676, 1183px 700px #767676,
    1240px 1821px #767676, 1466px 1021px #767676, 1164px 357px #767676,
    1286px 941px #767676, 859px 345px #767676, 1213px 1610px #767676,
    1248px 248px #767676, 810px 1105px #767676, 1259px 632px #767676,
    414px 1066px #767676, 1784px 1157px #767676, 1485px 1561px #767676,
    576px 486px #767676, 1840px 746px #767676, 1652px 1850px #767676,
    563px 901px #767676, 328px 692px #767676, 1701px 258px #767676,
    715px 886px #767676, 156px 1316px #767676, 588px 329px #767676,
    593px 1983px #767676, 275px 889px #767676, 526px 1375px #767676,
    1138px 809px #767676, 1179px 1378px #767676, 293px 941px #767676,
    1690px 1278px #767676, 1557px 915px #767676, 463px 1907px #767676,
    612px 967px #767676, 98px 1253px #767676, 1553px 70px #767676,
    468px 1135px #767676, 281px 744px #767676, 1959px 788px #767676,
    651px 83px #767676, 22px 85px #767676, 621px 350px #767676,
    624px 32px #767676, 1280px 122px #767676, 1673px 456px #767676,
    1882px 1501px #767676, 1409px 656px #767676, 504px 498px #767676,
    347px 1750px #767676, 622px 1220px #767676, 1645px 1367px #767676,
    1121px 500px #767676, 1780px 292px #767676, 349px 1918px #767676,
    688px 1696px #767676, 1523px 860px #767676, 1082px 638px #767676,
    954px 1929px #767676, 677px 1773px #767676, 1398px 1926px #767676,
    321px 1473px #767676, 1757px 967px #767676, 1843px 1009px #767676,
    1750px 398px #767676, 1062px 1586px #767676, 602px 1313px #767676,
    1568px 376px #767676, 1274px 1264px #767676, 747px 1783px #767676,
    1947px 754px #767676, 1848px 1442px #767676, 632px 244px #767676,
    1358px 1057px #767676, 1808px 166px #767676, 593px 1294px #767676,
    1926px 1619px #767676, 1562px 896px #767676, 72px 1270px #767676,
    45px 924px #767676, 396px 794px #767676, 1791px 1859px #767676,
    884px 1517px #767676, 1645px 1094px #767676, 1609px 351px #767676,
    408px 1542px #767676, 120px 1622px #767676, 1403px 1086px #767676,
    521px 364px #767676, 1002px 1459px #767676, 929px 1027px #767676,
    1117px 672px #767676, 328px 910px #767676, 558px 1081px #767676,
    1829px 781px #767676, 375px 1101px #767676, 1945px 121px #767676,
    1798px 1375px #767676, 182px 581px #767676, 1153px 101px #767676,
    1829px 695px #767676, 1744px 1714px #767676, 763px 569px #767676,
    251px 1055px #767676, 184px 487px #767676, 733px 1829px #767676,
    1559px 979px #767676, 1329px 1202px #767676, 821px 1674px #767676,
    323px 889px #767676, 1780px 1484px #767676, 1714px 793px #767676,
    71px 790px #767676, 1622px 22px #767676, 1396px 166px #767676,
    1169px 1431px #767676, 1912px 489px #767676, 906px 1720px #767676,
    519px 842px #767676, 983px 722px #767676, 817px 818px #767676,
    99px 1127px #767676, 1311px 1539px #767676, 1497px 924px #767676,
    1865px 1411px #767676, 1497px 258px #767676, 890px 450px #767676,
    520px 1009px #767676, 40px 1152px #767676, 153px 730px #767676,
    665px 183px #767676, 170px 478px #767676, 353px 81px #767676,
    69px 1673px #767676, 1230px 374px #767676, 624px 410px #767676,
    1192px 1058px #767676, 958px 1082px #767676, 1261px 322px #767676,
    1541px 1474px #767676, 1918px 1560px #767676, 720px 1062px #767676,
    1513px 882px #767676, 1818px 747px #767676, 1390px 406px #767676,
    1291px 1319px #767676, 873px 991px #767676, 354px 1453px #767676,
    1823px 1776px #767676, 1208px 985px #767676, 737px 1963px #767676,
    1755px 518px #767676, 547px 1293px #767676, 1744px 1051px #767676,
    346px 1741px #767676, 1925px 1818px #767676, 1363px 949px #767676,
    402px 21px #767676, 198px 178px #767676, 1289px 617px #767676,
    1347px 1343px #767676, 1389px 183px #767676, 1586px 1766px #767676,
    1396px 1840px #767676, 29px 1692px #767676, 381px 588px #767676,
    1858px 494px #767676, 496px 28px #767676, 5px 1142px #767676,
    1813px 1700px #767676, 637px 1895px #767676, 938px 244px #767676,
    1909px 70px #767676, 1021px 305px #767676, 1223px 627px #767676,
    720px 109px #767676, 441px 412px #767676, 1086px 1537px #767676,
    1734px 1296px #767676, 685px 1896px #767676, 1080px 1773px #767676,
    1526px 462px #767676, 1826px 1149px #767676, 617px 1825px #767676,
    161px 470px #767676, 1925px 614px #767676, 1631px 1372px #767676,
    106px 503px #767676, 33px 1266px #767676, 1090px 1176px #767676,
    660px 847px #767676, 109px 791px #767676, 674px 179px #767676,
    3px 1826px #767676, 895px 1544px #767676, 512px 1704px #767676,
    844px 633px #767676, 49px 1225px #767676, 1453px 1000px #767676,
    1244px 50px #767676, 12px 350px #767676, 1734px 98px #767676,
    596px 167px #767676, 1348px 1806px #767676, 669px 166px #767676,
    1076px 75px #767676, 324px 1917px #767676, 1175px 1352px #767676,
    1937px 552px #767676, 334px 1547px #767676, 714px 743px #767676,
    1788px 719px #767676, 1191px 50px #767676, 1593px 1922px #767676,
    1770px 562px #767676, 1873px 180px #767676, 765px 1603px #767676,
    1651px 1321px #767676, 536px 618px #767676, 720px 266px #767676,
    485px 920px #767676, 1017px 1139px #767676, 443px 1658px #767676,
    426px 329px #767676, 7px 1695px #767676, 1583px 544px #767676,
    1102px 745px #767676, 387px 1992px #767676, 1091px 199px #767676,
    1694px 253px #767676, 1720px 642px #767676, 1191px 1260px #767676,
    1742px 1797px #767676;
  animation: starsAnimation 50s linear infinite;
}
.stars > .small:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 703px 189px #767676, 1296px 1805px #767676, 316px 1278px #767676,
    1961px 1509px #767676, 64px 57px #767676, 218px 800px #767676,
    955px 375px #767676, 707px 1062px #767676, 312px 1216px #767676,
    469px 1670px #767676, 1142px 1026px #767676, 237px 1175px #767676,
    1940px 1225px #767676, 712px 1901px #767676, 840px 473px #767676,
    1854px 4px #767676, 893px 656px #767676, 213px 1350px #767676,
    1505px 779px #767676, 348px 1960px #767676, 1728px 1107px #767676,
    574px 1393px #767676, 1384px 1376px #767676, 1435px 1509px #767676,
    346px 125px #767676, 1264px 1791px #767676, 1238px 524px #767676,
    1229px 1598px #767676, 987px 364px #767676, 701px 680px #767676,
    690px 1445px #767676, 1440px 210px #767676, 1509px 1238px #767676,
    1780px 550px #767676, 645px 676px #767676, 1480px 1699px #767676,
    1305px 1616px #767676, 679px 1480px #767676, 1648px 42px #767676,
    1364px 3px #767676, 1519px 904px #767676, 1625px 399px #767676,
    384px 1697px #767676, 1268px 1799px #767676, 1157px 1336px #767676,
    1996px 1467px #767676, 1075px 235px #767676, 783px 473px #767676,
    506px 1762px #767676, 254px 1975px #767676, 1663px 469px #767676,
    1689px 673px #767676, 82px 916px #767676, 1505px 854px #767676,
    1313px 101px #767676, 1565px 634px #767676, 1347px 476px #767676,
    1962px 586px #767676, 1335px 103px #767676, 244px 444px #767676,
    382px 1491px #767676, 563px 424px #767676, 1666px 151px #767676,
    673px 41px #767676, 664px 1079px #767676, 501px 507px #767676,
    495px 735px #767676, 254px 1584px #767676, 1949px 154px #767676,
    658px 1379px #767676, 1723px 1874px #767676, 1613px 540px #767676,
    303px 434px #767676, 1827px 874px #767676, 1884px 1068px #767676,
    1725px 623px #767676, 1439px 1535px #767676, 858px 1291px #767676,
    250px 648px #767676, 1597px 1842px #767676, 658px 250px #767676,
    901px 101px #767676, 1721px 1451px #767676, 515px 761px #767676,
    1977px 1006px #767676, 590px 77px #767676, 1048px 1853px #767676,
    1624px 292px #767676, 1665px 240px #767676, 1525px 525px #767676,
    807px 1489px #767676, 1115px 1439px #767676, 1070px 1746px #767676,
    751px 1476px #767676, 1372px 783px #767676, 514px 695px #767676,
    323px 429px #767676, 203px 871px #767676, 730px 1805px #767676,
    1503px 31px #767676, 154px 45px #767676, 221px 130px #767676,
    120px 1321px #767676, 141px 732px #767676, 73px 802px #767676,
    858px 1612px #767676, 121px 674px #767676, 1391px 1589px #767676,
    1437px 1782px #767676, 1007px 409px #767676, 1362px 258px #767676,
    584px 1226px #767676, 1627px 367px #767676, 1512px 256px #767676,
    973px 612px #767676, 1581px 83px #767676, 822px 758px #767676,
    1900px 1818px #767676, 1628px 1143px #767676, 127px 867px #767676,
    1452px 1659px #767676, 814px 1312px #767676, 1798px 1533px #767676,
    448px 113px #767676, 727px 1550px #767676, 1993px 1374px #767676,
    1551px 1145px #767676, 1352px 261px #767676, 1857px 447px #767676,
    1040px 1967px #767676, 465px 60px #767676, 1911px 1136px #767676,
    1942px 840px #767676, 728px 99px #767676, 814px 1164px #767676,
    313px 1108px #767676, 276px 1783px #767676, 1899px 414px #767676,
    261px 677px #767676, 255px 1578px #767676, 1049px 953px #767676,
    1383px 1558px #767676, 455px 1733px #767676, 1162px 1097px #767676,
    263px 19px #767676, 396px 1673px #767676, 1983px 1558px #767676,
    1466px 301px #767676, 957px 304px #767676, 1789px 1607px #767676,
    1515px 517px #767676, 1662px 192px #767676, 756px 786px #767676,
    523px 311px #767676, 516px 1978px #767676, 1336px 1104px #767676,
    274px 1338px #767676, 549px 1731px #767676, 290px 321px #767676,
    1133px 1745px #767676, 1683px 779px #767676, 1752px 594px #767676,
    1488px 1564px #767676, 1310px 428px #767676, 22px 1476px #767676,
    245px 1584px #767676, 386px 11px #767676, 745px 1040px #767676,
    1405px 1693px #767676, 694px 857px #767676, 308px 1334px #767676,
    1617px 1855px #767676, 666px 1313px #767676, 1631px 1285px #767676,
    307px 825px #767676, 844px 435px #767676, 1688px 1533px #767676,
    276px 901px #767676, 1597px 576px #767676, 332px 82px #767676,
    380px 1813px #767676, 1480px 1734px #767676, 716px 764px #767676,
    1376px 1568px #767676, 956px 1252px #767676, 725px 548px #767676,
    1893px 1154px #767676, 564px 1220px #767676, 1021px 911px #767676,
    1276px 753px #767676, 1272px 431px #767676, 417px 302px #767676,
    1963px 156px #767676, 1946px 1378px #767676, 825px 1137px #767676,
    301px 1052px #767676, 1658px 279px #767676, 1775px 859px #767676,
    1182px 1178px #767676, 1373px 579px #767676, 1509px 105px #767676,
    1422px 214px #767676, 1123px 918px #767676, 199px 163px #767676,
    249px 773px #767676, 454px 896px #767676, 620px 1226px #767676,
    958px 1823px #767676, 520px 1788px #767676, 203px 1769px #767676,
    510px 1439px #767676, 570px 406px #767676, 1547px 1435px #767676,
    63px 1805px #767676, 32px 526px #767676, 652px 111px #767676,
    581px 1834px #767676, 1979px 916px #767676, 1744px 1455px #767676,
    140px 1563px #767676, 703px 818px #767676, 1231px 1447px #767676,
    1147px 879px #767676, 1633px 931px #767676, 740px 170px #767676,
    1655px 964px #767676, 191px 8px #767676, 1257px 880px #767676,
    1267px 442px #767676, 730px 542px #767676, 1581px 1938px #767676,
    762px 1554px #767676, 182px 1348px #767676, 711px 1864px #767676,
    494px 1920px #767676, 1206px 566px #767676, 452px 65px #767676,
    377px 378px #767676, 1211px 891px #767676, 867px 499px #767676,
    1886px 784px #767676, 606px 1415px #767676, 1148px 1828px #767676,
    1626px 1313px #767676, 412px 1018px #767676, 694px 487px #767676,
    612px 803px #767676, 1461px 157px #767676, 557px 1403px #767676,
    1846px 236px #767676, 1202px 189px #767676, 498px 1457px #767676,
    241px 413px #767676, 1535px 983px #767676, 314px 615px #767676,
    845px 1324px #767676, 477px 299px #767676, 594px 79px #767676,
    1268px 803px #767676, 449px 359px #767676, 307px 1435px #767676,
    1945px 1734px #767676, 1177px 826px #767676, 1807px 1422px #767676,
    1800px 1806px #767676, 1121px 107px #767676, 588px 1090px #767676,
    1450px 2000px #767676, 463px 1375px #767676, 94px 266px #767676,
    1571px 266px #767676, 908px 1620px #767676, 562px 1452px #767676,
    314px 1292px #767676, 1588px 1252px #767676, 16px 1549px #767676,
    1292px 1278px #767676, 1225px 342px #767676, 647px 1835px #767676,
    118px 1733px #767676, 429px 1003px #767676, 1996px 1746px #767676,
    1121px 538px #767676, 1649px 1406px #767676, 497px 642px #767676,
    320px 197px #767676, 572px 37px #767676, 1943px 1568px #767676,
    393px 1765px #767676, 1781px 232px #767676, 556px 1787px #767676,
    420px 1241px #767676, 83px 1802px #767676, 1519px 1551px #767676,
    2px 281px #767676, 33px 730px #767676, 325px 324px #767676,
    1512px 1648px #767676, 1782px 219px #767676, 1997px 808px #767676,
    1638px 826px #767676, 643px 1643px #767676, 477px 1563px #767676,
    1726px 1320px #767676, 1947px 1377px #767676, 1708px 909px #767676,
    1890px 217px #767676, 385px 1530px #767676, 802px 1160px #767676,
    1575px 1836px #767676, 1405px 243px #767676, 40px 56px #767676,
    1908px 822px #767676, 1503px 708px #767676, 554px 172px #767676,
    1358px 1547px #767676, 929px 403px #767676, 570px 180px #767676,
    1517px 1339px #767676, 77px 1144px #767676, 272px 993px #767676,
    67px 83px #767676, 1320px 1424px #767676, 1802px 1639px #767676,
    1554px 431px #767676, 369px 1810px #767676, 951px 1729px #767676,
    30px 1998px #767676, 136px 254px #767676, 190px 1571px #767676,
    164px 725px #767676, 15px 1097px #767676, 936px 1066px #767676,
    1907px 1836px #767676, 1739px 1990px #767676, 1065px 197px #767676,
    459px 1739px #767676, 408px 728px #767676, 369px 374px #767676,
    1886px 1112px #767676, 656px 680px #767676, 901px 329px #767676,
    1240px 1525px #767676, 516px 1346px #767676, 1397px 1791px #767676,
    806px 1595px #767676, 1184px 1943px #767676, 1620px 1125px #767676,
    420px 1651px #767676, 1081px 944px #767676, 1269px 1265px #767676,
    1444px 19px #767676, 451px 454px #767676, 562px 1109px #767676,
    251px 1877px #767676, 1234px 443px #767676, 423px 619px #767676,
    671px 1930px #767676, 500px 1797px #767676, 1972px 515px #767676,
    1815px 1082px #767676, 1562px 704px #767676, 1972px 1998px #767676,
    47px 814px #767676, 1490px 1053px #767676, 796px 1207px #767676,
    1337px 1638px #767676, 1765px 1137px #767676, 1730px 1696px #767676,
    122px 1664px #767676, 591px 816px #767676, 1399px 1321px #767676,
    1222px 383px #767676, 1180px 1875px #767676, 1287px 264px #767676,
    44px 1915px #767676, 1376px 609px #767676, 644px 1877px #767676,
    407px 1005px #767676, 498px 460px #767676, 860px 664px #767676,
    1129px 1092px #767676, 1012px 1732px #767676, 1847px 1072px #767676,
    1621px 1736px #767676, 1542px 1832px #767676, 612px 716px #767676,
    1883px 1190px #767676, 87px 246px #767676, 1822px 225px #767676,
    1183px 1784px #767676, 142px 112px #767676, 1704px 471px #767676,
    1478px 1040px #767676, 549px 484px #767676, 910px 635px #767676,
    360px 787px #767676, 1595px 194px #767676, 768px 1592px #767676,
    195px 52px #767676, 771px 988px #767676, 497px 293px #767676,
    1386px 1650px #767676, 807px 559px #767676, 1658px 285px #767676,
    972px 142px #767676, 1305px 1070px #767676, 1972px 1473px #767676,
    647px 1455px #767676, 272px 1675px #767676, 312px 991px #767676,
    1848px 1319px #767676, 189px 293px #767676, 1905px 1376px #767676,
    239px 1295px #767676, 514px 1960px #767676, 829px 1719px #767676,
    362px 837px #767676, 863px 1956px #767676, 484px 817px #767676,
    181px 1705px #767676, 1726px 1075px #767676, 823px 1153px #767676,
    1342px 367px #767676, 1640px 877px #767676, 1542px 402px #767676,
    1759px 1237px #767676, 1510px 538px #767676, 1281px 1441px #767676,
    1233px 1437px #767676, 1239px 534px #767676, 864px 1555px #767676,
    1607px 1940px #767676, 163px 1725px #767676, 1190px 1329px #767676,
    857px 1664px #767676, 1164px 1980px #767676, 905px 1909px #767676,
    1418px 925px #767676, 1606px 625px #767676, 795px 1574px #767676,
    60px 220px #767676, 720px 82px #767676, 1242px 494px #767676,
    1167px 1602px #767676, 1834px 971px #767676, 30px 1988px #767676,
    48px 1486px #767676, 354px 325px #767676, 1405px 1446px #767676,
    178px 370px #767676, 26px 1608px #767676, 1850px 55px #767676,
    1480px 46px #767676, 645px 1362px #767676, 123px 1873px #767676,
    163px 1429px #767676, 69px 1332px #767676, 221px 613px #767676,
    888px 936px #767676, 292px 1955px #767676, 314px 965px #767676,
    1521px 1045px #767676, 880px 385px #767676, 633px 1712px #767676,
    1316px 457px #767676, 67px 1334px #767676, 1725px 435px #767676,
    1454px 727px #767676, 1823px 1289px #767676, 1183px 700px #767676,
    1240px 1821px #767676, 1466px 1021px #767676, 1164px 357px #767676,
    1286px 941px #767676, 859px 345px #767676, 1213px 1610px #767676,
    1248px 248px #767676, 810px 1105px #767676, 1259px 632px #767676,
    414px 1066px #767676, 1784px 1157px #767676, 1485px 1561px #767676,
    576px 486px #767676, 1840px 746px #767676, 1652px 1850px #767676,
    563px 901px #767676, 328px 692px #767676, 1701px 258px #767676,
    715px 886px #767676, 156px 1316px #767676, 588px 329px #767676,
    593px 1983px #767676, 275px 889px #767676, 526px 1375px #767676,
    1138px 809px #767676, 1179px 1378px #767676, 293px 941px #767676,
    1690px 1278px #767676, 1557px 915px #767676, 463px 1907px #767676,
    612px 967px #767676, 98px 1253px #767676, 1553px 70px #767676,
    468px 1135px #767676, 281px 744px #767676, 1959px 788px #767676,
    651px 83px #767676, 22px 85px #767676, 621px 350px #767676,
    624px 32px #767676, 1280px 122px #767676, 1673px 456px #767676,
    1882px 1501px #767676, 1409px 656px #767676, 504px 498px #767676,
    347px 1750px #767676, 622px 1220px #767676, 1645px 1367px #767676,
    1121px 500px #767676, 1780px 292px #767676, 349px 1918px #767676,
    688px 1696px #767676, 1523px 860px #767676, 1082px 638px #767676,
    954px 1929px #767676, 677px 1773px #767676, 1398px 1926px #767676,
    321px 1473px #767676, 1757px 967px #767676, 1843px 1009px #767676,
    1750px 398px #767676, 1062px 1586px #767676, 602px 1313px #767676,
    1568px 376px #767676, 1274px 1264px #767676, 747px 1783px #767676,
    1947px 754px #767676, 1848px 1442px #767676, 632px 244px #767676,
    1358px 1057px #767676, 1808px 166px #767676, 593px 1294px #767676,
    1926px 1619px #767676, 1562px 896px #767676, 72px 1270px #767676,
    45px 924px #767676, 396px 794px #767676, 1791px 1859px #767676,
    884px 1517px #767676, 1645px 1094px #767676, 1609px 351px #767676,
    408px 1542px #767676, 120px 1622px #767676, 1403px 1086px #767676,
    521px 364px #767676, 1002px 1459px #767676, 929px 1027px #767676,
    1117px 672px #767676, 328px 910px #767676, 558px 1081px #767676,
    1829px 781px #767676, 375px 1101px #767676, 1945px 121px #767676,
    1798px 1375px #767676, 182px 581px #767676, 1153px 101px #767676,
    1829px 695px #767676, 1744px 1714px #767676, 763px 569px #767676,
    251px 1055px #767676, 184px 487px #767676, 733px 1829px #767676,
    1559px 979px #767676, 1329px 1202px #767676, 821px 1674px #767676,
    323px 889px #767676, 1780px 1484px #767676, 1714px 793px #767676,
    71px 790px #767676, 1622px 22px #767676, 1396px 166px #767676,
    1169px 1431px #767676, 1912px 489px #767676, 906px 1720px #767676,
    519px 842px #767676, 983px 722px #767676, 817px 818px #767676,
    99px 1127px #767676, 1311px 1539px #767676, 1497px 924px #767676,
    1865px 1411px #767676, 1497px 258px #767676, 890px 450px #767676,
    520px 1009px #767676, 40px 1152px #767676, 153px 730px #767676,
    665px 183px #767676, 170px 478px #767676, 353px 81px #767676,
    69px 1673px #767676, 1230px 374px #767676, 624px 410px #767676,
    1192px 1058px #767676, 958px 1082px #767676, 1261px 322px #767676,
    1541px 1474px #767676, 1918px 1560px #767676, 720px 1062px #767676,
    1513px 882px #767676, 1818px 747px #767676, 1390px 406px #767676,
    1291px 1319px #767676, 873px 991px #767676, 354px 1453px #767676,
    1823px 1776px #767676, 1208px 985px #767676, 737px 1963px #767676,
    1755px 518px #767676, 547px 1293px #767676, 1744px 1051px #767676,
    346px 1741px #767676, 1925px 1818px #767676, 1363px 949px #767676,
    402px 21px #767676, 198px 178px #767676, 1289px 617px #767676,
    1347px 1343px #767676, 1389px 183px #767676, 1586px 1766px #767676,
    1396px 1840px #767676, 29px 1692px #767676, 381px 588px #767676,
    1858px 494px #767676, 496px 28px #767676, 5px 1142px #767676,
    1813px 1700px #767676, 637px 1895px #767676, 938px 244px #767676,
    1909px 70px #767676, 1021px 305px #767676, 1223px 627px #767676,
    720px 109px #767676, 441px 412px #767676, 1086px 1537px #767676,
    1734px 1296px #767676, 685px 1896px #767676, 1080px 1773px #767676,
    1526px 462px #767676, 1826px 1149px #767676, 617px 1825px #767676,
    161px 470px #767676, 1925px 614px #767676, 1631px 1372px #767676,
    106px 503px #767676, 33px 1266px #767676, 1090px 1176px #767676,
    660px 847px #767676, 109px 791px #767676, 674px 179px #767676,
    3px 1826px #767676, 895px 1544px #767676, 512px 1704px #767676,
    844px 633px #767676, 49px 1225px #767676, 1453px 1000px #767676,
    1244px 50px #767676, 12px 350px #767676, 1734px 98px #767676,
    596px 167px #767676, 1348px 1806px #767676, 669px 166px #767676,
    1076px 75px #767676, 324px 1917px #767676, 1175px 1352px #767676,
    1937px 552px #767676, 334px 1547px #767676, 714px 743px #767676,
    1788px 719px #767676, 1191px 50px #767676, 1593px 1922px #767676,
    1770px 562px #767676, 1873px 180px #767676, 765px 1603px #767676,
    1651px 1321px #767676, 536px 618px #767676, 720px 266px #767676,
    485px 920px #767676, 1017px 1139px #767676, 443px 1658px #767676,
    426px 329px #767676, 7px 1695px #767676, 1583px 544px #767676,
    1102px 745px #767676, 387px 1992px #767676, 1091px 199px #767676,
    1694px 253px #767676, 1720px 642px #767676, 1191px 1260px #767676,
    1742px 1797px #767676;
}

.stars > .medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1421px 868px #767676, 1736px 1360px #767676, 1662px 1421px #767676,
    49px 251px #767676, 546px 707px #767676, 465px 1831px #767676,
    641px 1970px #767676, 1593px 1342px #767676, 1159px 944px #767676,
    1096px 1130px #767676, 1005px 1013px #767676, 356px 887px #767676,
    181px 1839px #767676, 1270px 401px #767676, 807px 1487px #767676,
    473px 1082px #767676, 1349px 469px #767676, 675px 1053px #767676,
    393px 918px #767676, 1560px 1116px #767676, 1307px 1977px #767676,
    669px 990px #767676, 381px 428px #767676, 451px 1200px #767676,
    1089px 62px #767676, 184px 785px #767676, 37px 925px #767676,
    63px 1030px #767676, 270px 1423px #767676, 615px 992px #767676,
    505px 1768px #767676, 1321px 162px #767676, 1624px 726px #767676,
    1134px 1735px #767676, 1062px 1991px #767676, 101px 1476px #767676,
    1058px 845px #767676, 1010px 1316px #767676, 396px 151px #767676,
    88px 1342px #767676, 557px 45px #767676, 816px 1835px #767676,
    243px 1960px #767676, 794px 205px #767676, 441px 899px #767676,
    1058px 1588px #767676, 1723px 336px #767676, 14px 1803px #767676,
    1346px 588px #767676, 1930px 1680px #767676, 368px 1190px #767676,
    560px 430px #767676, 886px 954px #767676, 991px 102px #767676,
    1451px 1272px #767676, 1478px 367px #767676, 543px 1370px #767676,
    887px 680px #767676, 207px 748px #767676, 1349px 1850px #767676,
    1383px 1542px #767676, 600px 1895px #767676, 1577px 779px #767676,
    1178px 242px #767676, 1516px 715px #767676, 416px 1274px #767676,
    1188px 387px #767676, 947px 591px #767676, 1019px 241px #767676,
    1578px 90px #767676, 211px 1948px #767676, 1357px 320px #767676,
    1597px 1460px #767676, 1794px 1707px #767676, 1233px 690px #767676,
    534px 1482px #767676, 380px 528px #767676, 1975px 41px #767676,
    664px 315px #767676, 746px 455px #767676, 1206px 230px #767676,
    1239px 1292px #767676, 1480px 601px #767676, 1747px 780px #767676,
    572px 393px #767676, 1814px 1976px #767676, 1762px 1535px #767676,
    669px 1544px #767676, 1176px 1260px #767676, 1071px 1028px #767676,
    1405px 49px #767676, 1531px 1161px #767676, 1858px 1851px #767676,
    1960px 323px #767676, 1391px 1910px #767676, 1135px 697px #767676,
    445px 337px #767676, 1500px 1898px #767676, 1191px 1964px #767676,
    510px 919px #767676, 198px 679px #767676, 843px 1598px #767676,
    1468px 1122px #767676, 1059px 934px #767676, 559px 904px #767676,
    234px 356px #767676, 357px 1599px #767676, 356px 1880px #767676,
    540px 50px #767676, 227px 650px #767676, 457px 1401px #767676,
    447px 1790px #767676, 1810px 257px #767676, 29px 1624px #767676,
    988px 621px #767676, 806px 1073px #767676, 1085px 1155px #767676,
    734px 156px #767676, 1765px 1209px #767676, 1969px 51px #767676,
    1776px 240px #767676, 1678px 1147px #767676, 1500px 1726px #767676,
    1535px 1232px #767676, 1266px 133px #767676, 1099px 197px #767676,
    1689px 749px #767676, 1672px 1783px #767676, 986px 730px #767676,
    1155px 191px #767676, 552px 51px #767676, 862px 1521px #767676,
    1707px 1759px #767676, 1090px 25px #767676, 371px 105px #767676,
    983px 1716px #767676, 891px 229px #767676, 1436px 1562px #767676,
    1018px 911px #767676, 1012px 1308px #767676, 747px 649px #767676,
    1172px 707px #767676, 956px 1027px #767676, 1899px 1871px #767676,
    1263px 1297px #767676, 921px 1132px #767676, 1248px 1475px #767676,
    1161px 116px #767676, 1533px 647px #767676, 1455px 545px #767676,
    615px 1739px #767676, 381px 917px #767676, 1026px 858px #767676,
    1812px 1149px #767676, 1612px 931px #767676, 158px 1154px #767676,
    1832px 1519px #767676, 231px 1374px #767676, 975px 64px #767676,
    408px 384px #767676, 505px 208px #767676, 1245px 1268px #767676,
    351px 1088px #767676, 1199px 1843px #767676, 1365px 1485px #767676,
    839px 1173px #767676, 503px 150px #767676, 430px 1172px #767676,
    1807px 149px #767676, 241px 1868px #767676, 541px 760px #767676,
    226px 1338px #767676, 359px 1667px #767676, 1007px 345px #767676,
    1595px 1210px #767676, 190px 1047px #767676, 1979px 456px #767676,
    222px 1308px #767676, 1235px 381px #767676, 1803px 1815px #767676,
    1836px 448px #767676, 1983px 1004px #767676, 505px 1788px #767676,
    1632px 1056px #767676, 818px 1604px #767676, 1524px 1196px #767676,
    1464px 915px #767676, 540px 1972px #767676, 254px 614px #767676,
    1194px 1354px #767676, 1304px 770px #767676, 1083px 1705px #767676,
    1758px 1811px #767676, 544px 837px #767676, 1309px 1290px #767676,
    960px 700px #767676, 579px 576px #767676, 1831px 1407px #767676,
    1641px 1586px #767676, 441px 1511px #767676;
  animation: starsAnimation 100s linear infinite;
}
.stars > .medium:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1421px 868px #767676, 1736px 1360px #767676, 1662px 1421px #767676,
    49px 251px #767676, 546px 707px #767676, 465px 1831px #767676,
    641px 1970px #767676, 1593px 1342px #767676, 1159px 944px #767676,
    1096px 1130px #767676, 1005px 1013px #767676, 356px 887px #767676,
    181px 1839px #767676, 1270px 401px #767676, 807px 1487px #767676,
    473px 1082px #767676, 1349px 469px #767676, 675px 1053px #767676,
    393px 918px #767676, 1560px 1116px #767676, 1307px 1977px #767676,
    669px 990px #767676, 381px 428px #767676, 451px 1200px #767676,
    1089px 62px #767676, 184px 785px #767676, 37px 925px #767676,
    63px 1030px #767676, 270px 1423px #767676, 615px 992px #767676,
    505px 1768px #767676, 1321px 162px #767676, 1624px 726px #767676,
    1134px 1735px #767676, 1062px 1991px #767676, 101px 1476px #767676,
    1058px 845px #767676, 1010px 1316px #767676, 396px 151px #767676,
    88px 1342px #767676, 557px 45px #767676, 816px 1835px #767676,
    243px 1960px #767676, 794px 205px #767676, 441px 899px #767676,
    1058px 1588px #767676, 1723px 336px #767676, 14px 1803px #767676,
    1346px 588px #767676, 1930px 1680px #767676, 368px 1190px #767676,
    560px 430px #767676, 886px 954px #767676, 991px 102px #767676,
    1451px 1272px #767676, 1478px 367px #767676, 543px 1370px #767676,
    887px 680px #767676, 207px 748px #767676, 1349px 1850px #767676,
    1383px 1542px #767676, 600px 1895px #767676, 1577px 779px #767676,
    1178px 242px #767676, 1516px 715px #767676, 416px 1274px #767676,
    1188px 387px #767676, 947px 591px #767676, 1019px 241px #767676,
    1578px 90px #767676, 211px 1948px #767676, 1357px 320px #767676,
    1597px 1460px #767676, 1794px 1707px #767676, 1233px 690px #767676,
    534px 1482px #767676, 380px 528px #767676, 1975px 41px #767676,
    664px 315px #767676, 746px 455px #767676, 1206px 230px #767676,
    1239px 1292px #767676, 1480px 601px #767676, 1747px 780px #767676,
    572px 393px #767676, 1814px 1976px #767676, 1762px 1535px #767676,
    669px 1544px #767676, 1176px 1260px #767676, 1071px 1028px #767676,
    1405px 49px #767676, 1531px 1161px #767676, 1858px 1851px #767676,
    1960px 323px #767676, 1391px 1910px #767676, 1135px 697px #767676,
    445px 337px #767676, 1500px 1898px #767676, 1191px 1964px #767676,
    510px 919px #767676, 198px 679px #767676, 843px 1598px #767676,
    1468px 1122px #767676, 1059px 934px #767676, 559px 904px #767676,
    234px 356px #767676, 357px 1599px #767676, 356px 1880px #767676,
    540px 50px #767676, 227px 650px #767676, 457px 1401px #767676,
    447px 1790px #767676, 1810px 257px #767676, 29px 1624px #767676,
    988px 621px #767676, 806px 1073px #767676, 1085px 1155px #767676,
    734px 156px #767676, 1765px 1209px #767676, 1969px 51px #767676,
    1776px 240px #767676, 1678px 1147px #767676, 1500px 1726px #767676,
    1535px 1232px #767676, 1266px 133px #767676, 1099px 197px #767676,
    1689px 749px #767676, 1672px 1783px #767676, 986px 730px #767676,
    1155px 191px #767676, 552px 51px #767676, 862px 1521px #767676,
    1707px 1759px #767676, 1090px 25px #767676, 371px 105px #767676,
    983px 1716px #767676, 891px 229px #767676, 1436px 1562px #767676,
    1018px 911px #767676, 1012px 1308px #767676, 747px 649px #767676,
    1172px 707px #767676, 956px 1027px #767676, 1899px 1871px #767676,
    1263px 1297px #767676, 921px 1132px #767676, 1248px 1475px #767676,
    1161px 116px #767676, 1533px 647px #767676, 1455px 545px #767676,
    615px 1739px #767676, 381px 917px #767676, 1026px 858px #767676,
    1812px 1149px #767676, 1612px 931px #767676, 158px 1154px #767676,
    1832px 1519px #767676, 231px 1374px #767676, 975px 64px #767676,
    408px 384px #767676, 505px 208px #767676, 1245px 1268px #767676,
    351px 1088px #767676, 1199px 1843px #767676, 1365px 1485px #767676,
    839px 1173px #767676, 503px 150px #767676, 430px 1172px #767676,
    1807px 149px #767676, 241px 1868px #767676, 541px 760px #767676,
    226px 1338px #767676, 359px 1667px #767676, 1007px 345px #767676,
    1595px 1210px #767676, 190px 1047px #767676, 1979px 456px #767676,
    222px 1308px #767676, 1235px 381px #767676, 1803px 1815px #767676,
    1836px 448px #767676, 1983px 1004px #767676, 505px 1788px #767676,
    1632px 1056px #767676, 818px 1604px #767676, 1524px 1196px #767676,
    1464px 915px #767676, 540px 1972px #767676, 254px 614px #767676,
    1194px 1354px #767676, 1304px 770px #767676, 1083px 1705px #767676,
    1758px 1811px #767676, 544px 837px #767676, 1309px 1290px #767676,
    960px 700px #767676, 579px 576px #767676, 1831px 1407px #767676,
    1641px 1586px #767676, 441px 1511px #767676;
}

.stars > .big {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1364px 1233px #767676, 215px 1044px #767676, 734px 235px #767676,
    971px 215px #767676, 20px 1407px #767676, 1265px 1654px #767676,
    480px 666px #767676, 1191px 1085px #767676, 859px 182px #767676,
    1649px 924px #767676, 1937px 1288px #767676, 1363px 1155px #767676,
    460px 1087px #767676, 825px 1478px #767676, 36px 1042px #767676,
    1186px 1291px #767676, 1376px 132px #767676, 505px 578px #767676,
    795px 1070px #767676, 546px 929px #767676, 629px 1267px #767676,
    1724px 513px #767676, 1431px 1558px #767676, 1649px 946px #767676,
    1913px 1154px #767676, 655px 1629px #767676, 639px 1641px #767676,
    1110px 1832px #767676, 260px 978px #767676, 348px 89px #767676,
    1619px 402px #767676, 987px 972px #767676, 1424px 452px #767676,
    1455px 507px #767676, 1910px 1548px #767676, 715px 465px #767676,
    1322px 534px #767676, 1044px 1428px #767676, 740px 1320px #767676,
    1717px 1195px #767676, 583px 81px #767676, 1955px 1597px #767676,
    633px 1638px #767676, 1466px 1301px #767676, 897px 1530px #767676,
    1108px 1407px #767676, 1116px 1652px #767676, 672px 1982px #767676,
    828px 879px #767676, 1846px 1875px #767676, 984px 577px #767676,
    1109px 1200px #767676, 1228px 1809px #767676, 1447px 1796px #767676,
    438px 410px #767676, 1372px 623px #767676, 5px 1902px #767676,
    1571px 880px #767676, 558px 46px #767676, 1675px 1644px #767676,
    1585px 1895px #767676, 590px 1403px #767676, 1589px 974px #767676,
    681px 1993px #767676, 1242px 1141px #767676, 214px 697px #767676,
    841px 1695px #767676, 1971px 1009px #767676, 70px 1129px #767676,
    1160px 1904px #767676, 534px 1480px #767676, 1179px 1394px #767676,
    942px 1667px #767676, 1530px 1704px #767676, 1615px 1896px #767676,
    1979px 185px #767676, 43px 1703px #767676, 1257px 310px #767676,
    1377px 1892px #767676, 472px 904px #767676, 1403px 1369px #767676,
    1250px 1250px #767676, 834px 849px #767676, 1676px 603px #767676,
    306px 593px #767676, 172px 1374px #767676, 1318px 1213px #767676,
    583px 1753px #767676, 147px 1595px #767676, 1060px 538px #767676,
    1531px 105px #767676, 858px 1166px #767676, 238px 177px #767676,
    520px 1969px #767676, 1472px 864px #767676, 501px 34px #767676,
    1147px 934px #767676, 693px 833px #767676, 305px 762px #767676,
    1873px 1787px #767676;
  border-radius: 100%;
  animation: starsAnimation 150s linear infinite;
}
.stars > .big:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1364px 1233px #767676, 215px 1044px #767676, 734px 235px #767676,
    971px 215px #767676, 20px 1407px #767676, 1265px 1654px #767676,
    480px 666px #767676, 1191px 1085px #767676, 859px 182px #767676,
    1649px 924px #767676, 1937px 1288px #767676, 1363px 1155px #767676,
    460px 1087px #767676, 825px 1478px #767676, 36px 1042px #767676,
    1186px 1291px #767676, 1376px 132px #767676, 505px 578px #767676,
    795px 1070px #767676, 546px 929px #767676, 629px 1267px #767676,
    1724px 513px #767676, 1431px 1558px #767676, 1649px 946px #767676,
    1913px 1154px #767676, 655px 1629px #767676, 639px 1641px #767676,
    1110px 1832px #767676, 260px 978px #767676, 348px 89px #767676,
    1619px 402px #767676, 987px 972px #767676, 1424px 452px #767676,
    1455px 507px #767676, 1910px 1548px #767676, 715px 465px #767676,
    1322px 534px #767676, 1044px 1428px #767676, 740px 1320px #767676,
    1717px 1195px #767676, 583px 81px #767676, 1955px 1597px #767676,
    633px 1638px #767676, 1466px 1301px #767676, 897px 1530px #767676,
    1108px 1407px #767676, 1116px 1652px #767676, 672px 1982px #767676,
    828px 879px #767676, 1846px 1875px #767676, 984px 577px #767676,
    1109px 1200px #767676, 1228px 1809px #767676, 1447px 1796px #767676,
    438px 410px #767676, 1372px 623px #767676, 5px 1902px #767676,
    1571px 880px #767676, 558px 46px #767676, 1675px 1644px #767676,
    1585px 1895px #767676, 590px 1403px #767676, 1589px 974px #767676,
    681px 1993px #767676, 1242px 1141px #767676, 214px 697px #767676,
    841px 1695px #767676, 1971px 1009px #767676, 70px 1129px #767676,
    1160px 1904px #767676, 534px 1480px #767676, 1179px 1394px #767676,
    942px 1667px #767676, 1530px 1704px #767676, 1615px 1896px #767676,
    1979px 185px #767676, 43px 1703px #767676, 1257px 310px #767676,
    1377px 1892px #767676, 472px 904px #767676, 1403px 1369px #767676,
    1250px 1250px #767676, 834px 849px #767676, 1676px 603px #767676,
    306px 593px #767676, 172px 1374px #767676, 1318px 1213px #767676,
    583px 1753px #767676, 147px 1595px #767676, 1060px 538px #767676,
    1531px 105px #767676, 858px 1166px #767676, 238px 177px #767676,
    520px 1969px #767676, 1472px 864px #767676, 501px 34px #767676,
    1147px 934px #767676, 693px 833px #767676, 305px 762px #767676,
    1873px 1787px #767676;
  border-radius: 100%;
}

@keyframes starsAnimation {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}
